@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-current: currentColor;
  --color-transparent: transparent;
  --color-white: #f9f9f9;
  --color-primary: #007bec;
  --color-primary-content: #ffffff;
  --color-primary-focus: #0068c8;
  --color-secondary: #6c5ce7;
  --color-secondary-content: #ffffff;
  --color-secondary-focus: #503de2;
  --color-accent: #1fb2a5;
  --color-accent-content: #ffffff;
  --color-accent-focus: #1a9489;
  --color-neutral: #2a323c;
  --color-neutral-content: #303030;
  --color-neutral-focus: #242a33;
  --color-base-25: #353d47;
  --color-base-50: #2a323c;
  --color-base-75: #20272e;
  --color-base-100: #1d232a;
  --color-base-200: #191e24;
  --color-base-300: #15191e;
  --color-base-content: #a6adbb;
  --color-info: #3abff8;
  --color-info-content: #18272f;
  --color-success: #36d399;
  --color-success-content: #162a21;
  --color-warning: #fbbd23;
  --color-warning-content: #312612;
  --color-error: #f87272;
  --color-error-content: #311c1b;
  --color-gradient-first: #34eaa0;
  --color-gradient-second: #0fa2e9;
}
.container {
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}
html {
  font-family: var(--font-yekan);
}

:lang(en) {
  font-family: var(--font-inter);
}
.bg-hero-pattern {
  background-image: url("/images/tile.svg");
}
.gradient {
  @apply bg-gradient-to-r from-gradient-first to-gradient-second text-transparent bg-clip-text ;
}
